@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

// Variables
$color-pink: #2EFFD9;
$color-dark: #1B1919;
$color-cream: #FEFEFE;

.wrapper {
  width: 100%;
}

.page-title {
  font-size: 1.3em;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .8));
}