#contact {
  width: 100%;
  background-color: $color-cream;

  .wrapper {
    height: 100%;
    display: flex;
    padding: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h2 {
      text-align: center;
      margin: 40px 0;
    }

    p {
      margin: 10px 0;
      text-align: center;
      font-size: .9em;
      line-height: 1.5em;
    }

    form {
      padding: 15px;
      width: 100%;
      margin: 15px 0;

      .form-success {
        color: #06623b;
        font-weight: 400;
      }

      .form-error {
        color: #dd2c00;
        font-weight: 400;
      }

      label {
        margin: 0 auto;
        width: 80%;
        text-align: left;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .9em;
      }

      .label-message {
        margin-bottom: 10px;
      }

      input,
      textarea {
        width: 80%;
      }

      input {
        border: none;
        border-bottom: 2px solid $color-dark;
        height: 25px;
        font-size: .9em;
        transition: all 0.25s cubic-bezier(0.6, 0.0, 0.3, 1) 0s;

        &:focus {
          border-bottom: 2px solid $color-pink;
        }
      }

      textarea {
        border: 2px solid $color-dark;
        padding: 5px;
        font-size: .9em;
        resize: none;
        transition: all 0.25s cubic-bezier(0.6, 0.0, 0.3, 1) 0s;

        &:focus {
          border: 2px solid $color-pink;
        }
      }

      .btn-send {
        @extend .btn;
        margin: 25px 0;
        border: 2px solid $color-pink;
        background: $color-pink;
        font-size: .9em;
        padding: 5px;
        cursor: pointer;

        &:hover {
          box-shadow: 1px 1px 15px rgba($color-dark, 0.25);
        }
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  #contact {
    .wrapper {
      form {
        margin-top: 50px;
        width: 80%;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  #contact {
    .wrapper {
      form {
        width: 70%;
      }
    }
  }
}