header {
  width: 100%;
  height: 80vh;
  background-image: url('../img/bg-header.jpg');
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .25);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;

  nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 9999 !important;
    width: 100%;
    height: 80px;
    padding-top: 10px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    .logo {
      float: left;
      font-size: 1.8em;
      color: #FFF;
      padding: 10px 20px;

      &:hover {
        color: $color-pink;
        text-shadow: 1px 1px 3px $color-dark;
      }
    }

    .menu-btn {
      display: none;

      // Checks when the label is clicked (where the span with hamb menu is).
      // If it is checked, then get the next sibling and apply the styles.
      &:checked~.menu {
        max-height: 240px;
      }

      &:checked~.menu-light {
        background: $color-cream;
      }

      // Animation for the nav-icon to turn into an X when checked
      &:checked~.menu-icon .nav-icon {
        background: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }

    .menu-icon {
      padding: 28px 20px;
      position: relative; //used to position the nav-icon
      float: right;
      cursor: pointer;

      .nav-icon {
        background: #FFF;
        display: block;
        height: 2px;
        width: 25px;
        position: relative;
        transition: all 200ms ease-out;

        &::before,
        &::after {
          content: '';
          background: #FFF;
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          transition: all 200ms ease-out;
        }

        &::before {
          top: -8px;
          width: 23px;
        }

        &::after {
          top: 8px;
          width: 23px;
        }
      }
    }

    a {
      color: #FFF;
      font-weight: 600;
      text-decoration: none;
    }

    ul {
      list-style: none;
      overflow: hidden;
      text-align: center;
      background: transparent;

      li {
        a {
          display: inline-block;
          padding: 20px;
          transition: all 200ms ease-in-out;

          &:hover {
            color: $color-pink;
            text-shadow: 1px 1px 3px $color-dark;
          }
        }
      }
    }

    .menu {
      clear: both;
      max-height: 0;
      background-color: transparent;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
  }

  .btn {
    margin: 80px auto 0 auto;
  }
}

.hide-nav {
  top: -90px;
}

// Styles for the nav after scroll up
.nav-light {
  background: $color-cream;
  color: #000;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;

  .logo,
  a {
    color: #000;
  }

  .menu-icon {
    .nav-icon {
      background: #000;

      &::before,
      &::after {
        background: #000;
      }
    }
  }
}

header .header-info {
  margin-top: 200px;
  padding: 15px;
  text-align: center;

  p {
    color: #FFFFFF;
    font-weight: normal;
  }

  .head-name {
    margin: 20px 0 30px 0;
    color: $color-pink;
    font-size: 2.5em;
    font-weight: bold;
  }

  .head-description {
    line-height: 1.5em;
  }


}

@media only screen and (min-width: 768px) {
  .header {
    height: 600px;

    li {
      float: left;
    }

    .menu {
      clear: none;
      float: right;
      max-height: 0;
    }

    .menu-icon {
      display: none;
    }
  }

  header .header-info {
    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 1.3em;
    }
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}