@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
}

.page-title {
  font-size: 1.3em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8));
}

.btn, #about .about-info .about-btns .btn-contact,
#about .about-info .about-btns .btn-resume, #contact .wrapper form .btn-send {
  border: 2px solid #2EFFD9;
  border-radius: 50px;
  width: 150px;
  padding: 15px;
  background: transparent;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.btn a, #about .about-info .about-btns .btn-contact a, #about .about-info .about-btns .btn-resume a, #contact .wrapper form .btn-send a {
  color: #2EFFD9;
  text-decoration: none;
  font-size: 1.2em;
}

.btn:hover, #about .about-info .about-btns .btn-contact:hover,
#about .about-info .about-btns .btn-resume:hover, #contact .wrapper form .btn-send:hover {
  background: #2EFFD9;
  border: none;
}

.btn:hover a, #about .about-info .about-btns .btn-contact:hover a, #about .about-info .about-btns .btn-resume:hover a, #contact .wrapper form .btn-send:hover a {
  color: #1B1919;
}

.animated-link {
  display: inline-block;
  text-decoration: none;
  line-height: 0.9em;
  font-weight: bold;
  color: #1B1919;
}

.animated-link::after {
  content: "";
  display: block;
  position: relative;
  width: 0%;
  height: 2px;
  background: #1B1919;
  -webkit-transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
}

.animated-link:hover::after {
  width: 100%;
}

header {
  width: 100%;
  height: 80vh;
  background-image: url("../img/bg-header.jpg");
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

header nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 9999 !important;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

header nav .logo {
  float: left;
  font-size: 1.8em;
  color: #FFF;
  padding: 10px 20px;
}

header nav .logo:hover {
  color: #2EFFD9;
  text-shadow: 1px 1px 3px #1B1919;
}

header nav .menu-btn {
  display: none;
}

header nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header nav .menu-btn:checked ~ .menu-light {
  background: #FEFEFE;
}

header nav .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

header nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header nav .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

header nav .menu-icon .nav-icon {
  background: #FFF;
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

header nav .menu-icon .nav-icon::before, header nav .menu-icon .nav-icon::after {
  content: '';
  background: #FFF;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

header nav .menu-icon .nav-icon::before {
  top: -8px;
  width: 23px;
}

header nav .menu-icon .nav-icon::after {
  top: 8px;
  width: 23px;
}

header nav a {
  color: #FFF;
  font-weight: 600;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  overflow: hidden;
  text-align: center;
  background: transparent;
}

header nav ul li a {
  display: inline-block;
  padding: 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

header nav ul li a:hover {
  color: #2EFFD9;
  text-shadow: 1px 1px 3px #1B1919;
}

header nav .menu {
  clear: both;
  max-height: 0;
  background-color: transparent;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

header .btn, header #about .about-info .about-btns .btn-contact, #about .about-info .about-btns header .btn-contact,
header #about .about-info .about-btns .btn-resume, #about .about-info .about-btns header .btn-resume, header #contact .wrapper form .btn-send, #contact .wrapper form header .btn-send {
  margin: 80px auto 0 auto;
}

.hide-nav {
  top: -90px;
}

.nav-light {
  background: #FEFEFE;
  color: #000;
  -webkit-box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
          box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
}

.nav-light .logo,
.nav-light a {
  color: #000;
}

.nav-light .menu-icon .nav-icon {
  background: #000;
}

.nav-light .menu-icon .nav-icon::before, .nav-light .menu-icon .nav-icon::after {
  background: #000;
}

header .header-info {
  margin-top: 200px;
  padding: 15px;
  text-align: center;
}

header .header-info p {
  color: #FFFFFF;
  font-weight: normal;
}

header .header-info .head-name {
  margin: 20px 0 30px 0;
  color: #2EFFD9;
  font-size: 2.5em;
  font-weight: bold;
}

header .header-info .head-description {
  line-height: 1.5em;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 600px;
  }
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: 80px;
  }
  .header .menu-icon {
    display: none;
  }
  header .header-info h1 {
    font-size: 3.5em;
  }
  header .header-info p {
    font-size: 1.3em;
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

#about {
  background: #FEFEFE;
  padding: 50px 10px;
}

#about .about-info h2 {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 40px;
}

#about .about-info p {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0 20px;
  margin-bottom: 20px;
}

#about .about-info ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  width: 100%;
  padding: 0 20px;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

#about .about-info ul li {
  list-style-position: inside;
  list-style-type: circle;
}

#about .about-info .about-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about-info .about-btns .btn-contact,
#about .about-info .about-btns .btn-resume {
  background: #2EFFD9;
  color: #FEFEFE;
  width: 150px;
  height: 35px;
  margin: 0 10px;
}

#about .about-info .about-btns .btn-contact a,
#about .about-info .about-btns .btn-resume a {
  color: #FEFEFE;
}

#about .about-info .about-btns .btn-contact:hover,
#about .about-info .about-btns .btn-resume:hover {
  background: #FEFEFE;
  border: 2px solid #2EFFD9;
  color: #2EFFD9;
}

#about .about-info .about-btns .btn-contact:hover a,
#about .about-info .about-btns .btn-resume:hover a {
  color: #2EFFD9;
}

@media only screen and (min-width: 768px) {
  #about .wrapper .about-info ul {
    width: 50%;
    text-align-last: left;
  }
}

.portfolio {
  width: 100%;
  background: #1B1919;
  color: #FFFFFF;
  padding: 50px 0px;
}

.portfolio .wrapper {
  margin: 0 auto;
  width: 90%;
}

.portfolio .wrapper .page-title {
  text-align: center;
  margin-bottom: 50px;
  color: #FFF;
}

.portfolio .wrapper .portfolio-cards {
  padding-bottom: 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

.portfolio .wrapper .portfolio-cards .portfolio-item {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 30px -15px #000;
          box-shadow: 0px 10px 30px -15px #000;
  position: relative;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  z-index: 1;
}

.portfolio .wrapper .portfolio-cards .portfolio-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.25);
}

.portfolio .wrapper .portfolio-cards .portfolio-item:hover:before {
  background: transparent;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .image {
  height: 50%;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .image img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .item-info {
  height: 50%;
  padding: 20px;
  background: #FEFEFE;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 3px 3px;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .item-info h3 {
  font-size: 1em;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .item-info p {
  font-size: .9em;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .portfolio-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 3;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .portfolio-icons i {
  margin: 0 10px;
  color: #000;
  font-size: 30px;
  width: 100%;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.portfolio .wrapper .portfolio-cards .portfolio-item .portfolio-icons i:hover {
  color: #2EFFD9;
  text-shadow: 1px 1px 3px #1B1919;
}

@media only screen and (min-width: 768px) {
  .portfolio .wrapper {
    width: 80%;
  }
  .portfolio .wrapper .portfolio-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .portfolio .wrapper .portfolio-cards .portfolio-item {
    height: 400px;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }
  .portfolio .wrapper .portfolio-cards .portfolio-item:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

#contact {
  width: 100%;
  background-color: #FEFEFE;
}

#contact .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact .wrapper h2 {
  text-align: center;
  margin: 40px 0;
}

#contact .wrapper p {
  margin: 10px 0;
  text-align: center;
  font-size: .9em;
  line-height: 1.5em;
}

#contact .wrapper form {
  padding: 15px;
  width: 100%;
  margin: 15px 0;
}

#contact .wrapper form label {
  margin: 0 auto;
  width: 80%;
  text-align: left;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
}

#contact .wrapper form .label-message {
  margin-bottom: 10px;
}

#contact .wrapper form input,
#contact .wrapper form textarea {
  width: 80%;
}

#contact .wrapper form input {
  border: none;
  border-bottom: 2px solid #1B1919;
  height: 25px;
  font-size: .9em;
  -webkit-transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
}

#contact .wrapper form input:focus {
  border-bottom: 2px solid #2EFFD9;
}

#contact .wrapper form textarea {
  border: 2px solid #1B1919;
  padding: 5px;
  font-size: .9em;
  resize: none;
  -webkit-transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
}

#contact .wrapper form textarea:focus {
  border: 2px solid #2EFFD9;
}

#contact .wrapper form .btn-send {
  margin: 25px 0;
  border: 2px solid #1B1919;
  font-size: 1em;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  #contact .wrapper form {
    margin-top: 50px;
    width: 60%;
  }
}

footer {
  height: 100px;
  background-image: url("../img/bg-footer.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

footer .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .overlay .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

footer .overlay .footer-icons i {
  color: #FFF;
  padding: 15px;
  font-size: 20px;
}

footer .overlay .footer-icons i:hover {
  color: #2EFFD9;
}

footer .overlay p a {
  text-decoration: none;
  color: #fff;
  font-size: .9em;
}

footer .overlay p a:hover {
  color: #2EFFD9;
}
/*# sourceMappingURL=main.css.map */