.btn {
  border: 2px solid $color-pink;
  border-radius: 50px;
  width: 150px;
  padding: 15px;
  background: transparent;
  transition: all 200ms;

  a {
    color: $color-pink;
    text-decoration: none;
    font-size: 1.2em;
  }

  &:hover {
    background: $color-pink;
    border: none;

    a {
      color: $color-dark;
    }
  }
}